html {
  font-size: 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100vh;  
  font-family: "Poppins", Helvetica, sans-serif;
  background-color: dimgray;
  color: rgb(192, 192, 192) ;
}

#root {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  height: 100%;
}

.titulo__container {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.titulo__principal {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}
.titulo__info {
  font-size: 1.5rem;
}

.busqueda__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 5rem;
}

.busqueda__input {
  width: 30%;
  height: 4rem;
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  margin-bottom: 1.5rem;
  outline: none;
  color: grey;
  font-size: 1.4rem;
  justify-items: center;
  box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.22);
}

.busqueda__input:focus {
  border: 0.2rem solid royalblue;
}

.busqueda__boton,
.descarga__boton {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: 0.2rem solid whitesmoke;
  background-color: transparent;
  color: whitesmoke;
  border-radius: 3rem;
  box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.22);
  transition: all 300ms linear;
  margin-top: 1rem;
}

.busqueda__boton:hover,
.descarga__boton:hover {
  cursor: pointer;
  background-color: royalblue;
}

.descarga__boton-container {
  margin-top: 3rem;
}


